{% comment %} Page header {% endcomment %}

{{ "header.css" | asset_url | stylesheet_tag }}

<header class="site-header">
  <a class="logo" href="/">
    <img src="{{ 'logo.webp' | asset_url }}" />
  </a>

  {% include 'main-menu' %}
</header>
