{% comment %} Page menu (takes data from the header menu) {% endcomment %}

<nav class="main-menu">
  {% for link in linklists.main-menu.links %}
  <a href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  <a href="/cart">Cart</a>
  <img src="{{ 'cart_logo.svg' | asset_url }}" />
</nav>
