main.cart {
}

.my-cart {
  border: 1px solid grey;
  width: 90%;
  border-left: none;
  border-right: none;
  margin: 30px 0px;
  padding: 30px 0px;
}

.main-div {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 282px);
}

.second-div {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  background-color: #f4c7ab;
  padding-left: 50px;
}

.order-summary {
  border: 1px solid grey;

  width: 90%;
  border-left: none;
  border-right: none;
  margin: 50px 0px;
  padding: 30px 0px;
}

.item {
  display: flex;
}
.item a {
  text-decoration: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-input {
  padding: 4px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}

.number-input img {
  height: 16px;
}

.number-input input {
  width: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

.update-button {
  display: none;
}

.tax-included {
  font-size: small;
  font-style: italic;
}

.shipping {
  font-size: small;
  font-style: italic;
}

.back-to-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.back-to-shop a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.arrow-back {
  size: 10px;
  display: flex;
  justify-content: flex-start;
}
