.contained {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  margin: 20px;
}

.one {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: left;
  margin: 10px;
  size-adjust: 150%;
}

.form {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  margin-bottom: 20px;
}

.back-button {
  text-align: left;
  display: block;
  margin: 10px;
  font-size: 16px;
}

.one {
  margin: 20px;
  justify-content: center;
}

.space {
  min-width: 100px;
}
