body {
  background-color: white;
}

.positioncontainer {
  display: flex;
  margin-top: 2rem;
}

.contained {
  margin: 0.5rem;
  background-color: white;
  justify-content: space-evenly;
}

#mainproductimage {
  height: 400px;
  width: 600px;
  margin-top: 20px;
}

.textdescription {
  float: right;
  width: 33.33%;
  padding: 5px;
}

h1 {
  margin: 20px;
}

form {
  margin-bottom: 2rem;
}
