main.shop {
  background-color: #fff5eb;
  font-size: 20px;
}

.flexplacement {
  padding: 16px;
  width: calc(50% - 32px);
}

.placement {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 20px;
  padding: 20px;
  width: calc(100% * - 10px - 1px);
}

.placement img {
  width: 100%;
}

.product {
  text-decoration: none;
}
