main.shop {
  background-color: #ccc;
  font-size: 20px;
}

.placement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  margin-right: 0%;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 80%;
  min-width: 20%;
}
