{% comment %} Home page {% endcomment %}

{{ "index.css" | asset_url | stylesheet_tag }}

<main class="home" data-barba="container">
  <img
    class="main_img"
    alt="Rocking Horses"
    src="{{ 'rocking_horses.webp' | asset_url }}"
  />
  <h1>HAPPINESS IS NEAR</h1>
  <a class="home-button" href="/collections/all">
    <button>See our collection</button></a
  >
</main>
