{% comment %} FAQ page {% endcomment %}

{{ "faq.css" | asset_url | stylesheet_tag }}

<main class="faq" data-barba="container">
  <div class="contained">
    <div class="entry">{{ page.content }}</div>
  </div>
</main>
